---
import Layout from "../layouts/Layout.astro";
import RecentScrobblesListen from "../components/RecentScrobblesListen";
import TopListens from "../components/TopListens";
---

<Layout>
  <div class="flex flex-col gap-10">
    <!-- Recent Scrobbles -->
    <RecentScrobblesListen client:load />

    <!-- Top Stats -->
    <TopListens client:load />
  </div>
</Layout>
